*{
    margin: 0px;
    padding: 0px;
}
.mainbox{
    height: 500px;
    width: 800px;
    border: 1px solid #f26b8a;
    padding-left: 50px;
    padding-right: 40px;
    background-color: #f26b8a;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .subox{
    height: 400px;
    width: 700px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    
} */
.box1{
    height: 165px;
    width: 380px;
    padding: 2px;
    border: 1px solid #f26b8a;
    color: white;
}
h1{
    font-size: 40px;
    color: white;
}
.one{
    font-size: 15px;
}
.box3{
    height: 400px;
    width: 300px;
    padding: 40px;
    border: 1px solid #f26b8a;
    justify-content: center;
}
input[type="text"]{
    height: 30px;
    width: 250px;
    padding-left: 20px;
    border-radius: 4px ;
    border: 1px solid grey;
}
.box2{
    height: 25px;
    width: 320px;
    padding-top: 5px;
    border-radius: 6px ;
    border: 1px solid grey;
    background-color: blueviolet;
    text-align: center;
    font-size: 13px;
    color: white;
}
.box4{
    height: 300px;
    width: 320px;
    padding-top: 20px;
    border-radius: 6px ;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}



a{
    
    text-decoration: none;
    color: white;
    align-content: center;
    font-size: 11px;
   
}
button{
    height: 30px;
    width: 270px;
    border-radius: 4px ;
    border: 1px solid grey;
    background-color: #3CBC8D;
}
p{
    font-size: 9px;
    text-align: center;
}
.two{
    color: red;
}