*{
    margin: 0px;
    padding: 0px;
}
/* ul{
    display: inline-block;
    margin: 30px;
}  */
/* .one,.two{
    display: inline-block;
} */
li{
    display: inline-block;
    margin: 30px;
    padding: 5px;
    border: 2px solid black;
}

a{
    
    display: block;
    margin: 30px;
}