*{
    margin: 0;
    padding: 0;
}
.mainbox{
    width: 800px;
    height: 800px;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
[class="para1"]{
    text-align: center;
}
p::first-letter{
font-size: x-large;
}
h5::first-line{
    font-style: italic;
    font-size: large;
    font-weight: 800;
}
a:hover{
    text-decoration: none;
    color: red;
}
.para3 a:visited{
    text-decoration: none;
    color: purple;
}
.para4::after{
    content: ":";
}